.access{
    display: flex;
    padding: 50px 0;
    .left{
        width: 50%;
        h1{
            font-size: $title-text-size;
            padding-bottom: 10px;
        }
        p{
            font-size: $standard-text-size;
            padding-bottom: 40px;
        }
        button{
            @include primary-button;
            margin-bottom: 10px;
        }
        span{
            margin: 0 5px;
        }
    }
    .right{
        width: 50%;
        img{
            width: 100%;
        }
    }
}
.traditional{
    margin: auto;
    background-color: $page-primay-color;
    padding: 50px 0;

    .no-feedback{
        @include space-around;
        text-align: center;

        img{
            width: 150px;
        }
    }
    .student{
        @include flex-center;
        margin: 100px 0;
        
        img{
            width: 35%;
        }
    }

    .feedback{
        @include space-around;
        text-align: center;
        div{
            img{
                height: 100px;
            }
        }
    }
}
.learn{
    .images-learn{
        display: flex;
        div{
            width: 50%;
            padding: 50px;
            img{
                width: 100%;
            }
            h2{
                font-size: $secondary-title-text-sixe;
                margin-bottom: 50px;
            }
            span{
                font-size: $standard-text-size;
                padding-bottom: 50px;
            }
            a{
                color: $page-third-color;
                padding-top: 30px;
            }
        }
        .mini{
            width:30%
        }
    }
}
.learn{
    .images-learn.reverse{
        @include reverse;
        div{
            width: 50%;
            padding: 50px;
            img{
                width: 100%;
            }
            
        }
        .mini{
            width:30%;
            h2{
                font-size: $secondary-title-text-sixe;
                margin-bottom: 50px;
            }
            span{
                font-size: $standard-text-size;
            }
            a{
                color: $page-third-color;
                padding-top: 30px;
            }
        }
    }
}