@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin primary-button{
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid $button-color;
    color: $primary-button-text-color;
    background-color: $button-color;
}
@mixin secondary-button{
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid $button-color;
    color: $secondary-button-text-color;
    background-color: $secondary-button-color;
}
