$page-primay-color: #ffe7d2;
$page-secondary-color: #58402c;
$standard-text-sixe: 16px;
$title-text-size: 22px;
$secondary-title-text-sixe: 19px;
$button-color:#2e4790;
$secondary-button-color: white;