$page-primay-color: #0414b3;
$page-secondary-color: #4b4a5a;
$page-third-color:#0e14ee;
$standard-text-size: 18px;
$title-text-size: 44px;
$secondary-title-text-sixe: 35px;
$button-color:#2e4790;
$secondary-button-color: white;
$secondary-button-text-color:#2e4790;
$primary-button-text-color: white;