$page-primay-color: #ffe7d2;
$page-secondary-color: #58402c;
$standard-text-size: 18px;
$title-text-size: 44px;
$secondary-title-text-sixe: 28px;
$button-color:#2e4790;
$secondary-button-color: white;
$secondary-button-text-color:#2e4790;
$primary-button-text-color: white;